# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Deathwatch-Core-Rulebook.pdf
data/journal/*
data/Deathwatch - Core Rulebook.pdf
data/Deathwatch - Ark of Lost Souls.pdf
data/Deathwatch Living Errata v1-1.pdf
.gitignore
data/Deathwatch - First Founding.pdf
data/Deathwatch - Honour the Chapter.pdf
data/Deathwatch - Mark of the Xenos.pdf
data/Deathwatch - Oblivions Edge.pdf
data/Deathwatch - Final Sanction.pdf
data/Deathwatch - The Outer Reach.pdf
data/Deathwatch - The Achilus Assault.pdf

# Ignore all PDF files (prevent including copyrighted book PDFs)
*.pdf
